<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="debug"
      internalLogFile="logs/app.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.StructuredLogging.Json" />

  </extensions>


  <targets>
    <target name="jsonconsole" xsi:type="Console" layout="${structuredlogging.json}" />

     <target name="console" xsi:type="ColoredConsole">
        <layout>${logger}|${uppercase:${level}}|[TID:${threadId}]|${event-properties:item=EventId_Id:whenEmpty=0}|${message}${exception:format=tostring}</layout>
     </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->

    <logger name="VisualsetProcessor.Generator.*" minlevel="INFO" final="true" />

    <logger name="VisualsetProcessor.Generator.*" minlevel="WARN" writeto="console" />

    <logger name="VisualsetProcessor.Processor.*" minlevel="WARN" writeto="console" final="true"/>

    <logger name="*" minlevel="Trace" writeTo="console" />

  </rules>
</nlog>
